In [1]:
import sqlite3

In [2]:
con =sqlite3.connect("db1.sqlite3")

In [3]:
pwd

u'F:\\batch51'

In [5]:
#data queries:insert
cur=con.cursor()

In [7]:
cur.execute("create table customer(id int,name varcahar(60))")

OperationalError: table customer already exists

In [8]:
cur.execute("create table customer1(id int,name varcahar(60))")

In [9]:
q="insert into customer1 values(1,'nag')"
cur.execute(q)

In [10]:
con.commit()

In [11]:
for i in range(2,12):
    q="insert into customer1 values(%s,'NAME:%s')"%(i,i)
    cur.execute(q)
con.commit()

In [12]:
q="select * from customer1"
cur.execute(q)

In [13]:
cur.fetchall()

[(1, u'nag'),
 (2, u'NAME:2'),
 (3, u'NAME:3'),
 (4, u'NAME:4'),
 (5, u'NAME:5'),
 (6, u'NAME:6'),
 (7, u'NAME:7'),
 (8, u'NAME:8'),
 (9, u'NAME:9'),
 (10, u'NAME:10'),
 (11, u'NAME:11')]

In [14]:
cur.fetchall()

[]

In [15]:
q="select * from customer1 where id=10"
cur.execute(q)
print cur.fetchall()

[(10, u'NAME:10')]

In [16]:
q="select * from customer1 where id=1"
cur.execute(q)
print cur.fetchall()

[(1, u'nag')]

In [17]:
q="delete from customer1 where id=10"
cur.execute(q)
con.commit()

In [20]:
q="update customer1 set name='Naga' where id=9"
cur.execute(q)
con.commit()